/* .pay-form{
    background-color: rgb(154,211,226);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 600px;
    margin-left: 100px;
}
.pay-form .text{
    text-align: center;
    color: var(--black);
    padding-bottom: 20px;
} */
.pay-section .payment-container {
    display: flex;
    width: 780px;
    margin: 0 auto;
    padding: 20px;
    border: none;
}
.pay-card{
    margin-top: 10px;
}
#zalopay{
    margin-left:-5px;
}
.pay-section .payment-option {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.payment-option label {
    color: black;
    font-weight: bold;
}
.pay-section .payment-option input[type="radio"] {
    width: 50px;
}

.pay-section .payment-option img {
    width: 70px;
    height: 70px;
    margin-right: 10px;
}
.left-payment{
    display: flex; 
    flex-direction: column; 
    align-items: center; /* Centers horizontally */ 
    justify-content: center; /* Centers vertically */ 
    margin: 0 auto;
}
.pay-section .total {
    font-weight: bold;
}
.payment-guide { 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
    text-align: center; 
    margin: 0 auto;  } 
.payment-guide ol { padding-left: 0; list-style-position: inside; } 
.payment-guide ol li { margin-bottom: 10px; }
.qr-code {
    text-align: center;
}
.custom-list {
    counter-reset: custom-counter; 
    list-style: none; 
    padding-left: 0; 
}

.custom-list li {
    counter-increment: custom-counter; 
    padding-bottom: 50px; 
    position: relative; 
    padding-left: 40px; 
    font-size: 24px;
}

.custom-list li::before {
    content: counter(custom-counter); 
    display: inline-block;
    width: 30px; 
    height: 30px; 
    border-radius: 50%; 
    background-color: #655252; 
    color: white; 
    text-align: center; 
    line-height: 30px; 
    position: absolute; 
    left: 0; 
    top: 0; 
    font-weight: bold; 
}
